h2{
    text-align: center;
}
form{
   display: flex;
    padding: 50px;
    color: snow;
}
form input{
    justify-content: space-between;
    margin-top: 17%;
    text-align: center;
    margin-right: 20px;
    font-size: 30px;
    height: 60px;
    border: 1px solid red;
}